.devolucion-registrar-wrapper {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.devolucion-registrar-card {
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgba(134, 118, 118, 0.12);
  font-family: "Nunito", "sans-serif";
  color: #6c757d;
  width: 97%;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  padding: 35px;
}

.titulo {
  text-align: center;
  padding-bottom: 10px;
}

.w50 {
  width: 50px;
}

.table-width {
  width: 95%;
}

.w90 {
  width: 90px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.thead-light {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.button-crear {
  /* margin: auto; */
  width: 100%;
  text-align: center;
}

.borderUp {
  border-top: 1px solid #80808063;
}

.pt {
  padding: 3px 3px 3px 3px !important;
}

.fixed {
  table-layout: fixed;
}

.w10 {
  width: 10%;
}

.ml0 {
  margin-left: 0px !important;
}

.accion-style {
  text-align: right;
  padding-right: 10px !important;
}

.pointer {
  cursor: pointer;
}
