* {
    font-family: 'Karla';
    text-decoration: none;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    /* width: 100%; */
    /* position: sticky; */
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    background: #ffffff;
    color: #adb5bd;
    box-shadow: 3px 0 20px -10px rgba(134, 118, 118, 0.12);
    transition: all 0.3s;
}

p {
    /* font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em; */
    color: #999;
}

ul, li, a{
    font-size: 18px;
}

a, a:hover, a:focus {
    color: #adb5bd;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    font-size: 18px;
    padding: 20px;
    background: #fafbfd;
}

#sidebar ul.components {
    padding: 20px 7px;
}

#sidebar ul p {
    color: #adb5bd;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}
#sidebar ul li a:hover {
    color: #BA1A1D;
    /* background: rgba(134, 118, 118, 0.06) ; */
    text-decoration: none;
    font-size: 20px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #BA1A1D;
    background: rgba(207, 207, 207, 0.15);
}
ul ul a {
    padding-left: 30px !important;
    /* background: #adb5bd; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    content: none;
}
li a{
    color: #adb5bd;
}

.hidden{
    margin-left: -250px;
    /* visibility: hidden; */
}

.visible{
    visibility: visible;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}