.rootBodega {
  width: 221;
  font-size: 18px;
}
.buttonBodega {
  font-size: 18px;
  width: 100%;
  text-align: left;
  color: #586069;
  font-weight: 600;
  border: 2px solid rgb(173, 173, 173) !important;
  border-radius: 4px !important;
  padding: 8px !important;
}

.buttonBodega:hover,
.buttonBodega:focus {
  color: #0366d6;
}

.buttonBodega span {
  width: 100%;
}

.buttonBodega svg {
  width: 16px;
  height: 16px;
}

.tagBodega {
  margin-top: 3px;
  margin-bottom: 5px;
  height: 20px;
  padding: 0.15em 4px;
  font-weight: 600;
}

.popperBodega {
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0px 3px 12px rgba(27, 31, 35, 0.15);
  border-radius: 3px;
  width: 550px;
  z-index: 1;
  font-size: 15px;
  color: #586069;
  background-color: #f6f8fa;
}

.inputBodega {
  padding: 10px;
  width: 100%;
  /* border-bottom: 1px solid #dfe2e5; */
}
/* 
.inputBodega.input {
  border-radius: 4px;
  background-color: white;
  padding: 8px;
  border: 1px solid #ced4da;
  font-size: 14px;
} */

/* .inputBodega.input:focus {
  box-shadow: 0 3px 12px #727cf5;
  border-color: #727cf5;
} */

.paper {
  box-shadow: none;
  margin: 0px;
  color: #586069;
  font-size: 13px;
}

.option {
  min-height: auto;
  align-items: flex-start;
  padding: 8px;
}

.option[aria-selected="true"] {
  background-color: transparent;
}

.completeWrapper{
    display: flexbox;
    box-shadow: 0px 0px 18px 0px rgba(134, 118, 118, 0.12);
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.nombreBodega{
    font-family: 'Nunito';
    font-size: 17px;
    color: #6c757d;
    flex-grow: 1;
}

.bodegaDescripcion{
    font-family: 'Karla';
    font-size: 13px;
    color: #6c757d;
    text-transform: capitalize;
    flex-grow: 1;
}

.floatRight{
    float: right;
}