.escoger-cotizacion-wrapper{
    margin-top: 50px;
    width: 100%;
}

.buttonEnabled  {
    background-color: #ec2224;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.45;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(250, 92, 124, 0.5);
  }
  
  .buttonEnabled:enabled {
    opacity: 0.8;
  }

  .buttonEnabled:enabled:hover {
    opacity: 1;
    box-shadow: 0 0 14px 0 rgba(248, 26, 70, 0.5);
  }