.remision-registrar-wrapper {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.remision-registrar-card {
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgba(134, 118, 118, 0.12);
  font-family: "Nunito", "sans-serif";
  color: #6c757d;
  width: 97%;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  padding: 35px;
}

.titulo {
  text-align: center;
  padding-bottom: 10px;
}

.w50 {
  width: 50px;
}

.table-width {
  width: 95%;
}

.w90 {
  width: 90px;
}

@media (max-width: 570px) {
  .completeWrapper {
    width: 100%;
  }
}

@media (min-width: 571px) and (max-width: 800px) {
  .completeWrapper {
    width: 70%;
  }
}

@media (min-width: 801px) {
  .completeWrapper {
    width: 50%;
  }
}
