#contenido,
html,
body {
  height: 100%;
  background-color: #f2f3f8;
  overflow-x: hidden;
}

#sidebar-column {
  align-content: stretch;
  padding-right: 0px;
}

#content-column {
  overflow: auto;
}

#rowWrapper {
  position: absolute;
  margin-right: -15px;
  margin-left: -15px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-wrap: nowrap;
}

.text-center {
  text-align: center;
}
.vert-center {
  vertical-align: middle;
}

.buttonAction {
  background-color: #ec2224;
  border: none;
  color: white;
  padding: 9px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(250, 92, 124, 0.5);
}

.buttonAction:disabled {
  background-color: #6c757d;
  pointer-events: none;
}

.buttonAction:hover:enabled {
  opacity: 1;
}

.titulo {
  margin: 0px 0px 6px -2px;
}
