#contenido,
html,
body {
  height: 100%;
  background-color: #f2f3f8;
}

#sidebar-column {
  align-content: stretch;
}

#content-column {
  overflow: auto;
}

#rowWrapper {
  position: absolute;
  margin-right: -15px;
  margin-left: -15px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  flex-wrap: nowrap;
}
