.cotizarWrapper {
  width: 100%;
  margin: 0px 15px 15px 15px;
  padding: 10px;
  font-family: "Nunito", "sans-serif";
  /* color: #6c757d; */
  color: gray;
  position: relative;
  /* border-top: 1px solid rgba(134, 118, 118, 0.12); */
  box-shadow: 0px 0px 15px 3px rgba(134, 118, 118, 0.12);
}

.buscarEquiposWrapper {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px -1px 15px 3px rgba(134, 118, 118, 0.1);
  display: flex;
  margin: 0px 0px 15px 0px;
}

.basicLogo {
  padding: 4px;
  width: 33px;
  height: auto;
  border-radius: 5px;
}
.basicLogo:hover {
  background-color: rgba(180, 179, 179, 0.486);
}

.basicLogo:active,
.basicLogo:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filtersWrapper {
  position: relative;
  width: fit-content;
  float: left;
  margin-bottom: auto;
  margin-top: auto;
}

.escogerWrapper {
  position: relative;
  float: left;
  width: 70%;
}

.no-border-active:focus {
  border: none !important;
  border-color: transparent !important;
  outline: none;
}

.cotizar-tarifas-wrapper {
  width: 100%;
  font: "Nunito";
  margin: 15px 0px 0px 0px;
  background-color: rgb(154, 158, 170);
  color: white;
  padding: 10px 10px 5px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 3px rgba(134, 118, 118, 0.01);
}

.tabla-cotizarWrapper {
  width: 100%;
  margin: 5px 0px 20px 0px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Nunito", "sans-serif";
  background-color: white;
  color: gray;
  box-shadow: 0px 0px 15px 3px rgba(134, 118, 118, 0.12);
  padding-top: 25px;
  padding-bottom: 0px;
}

.cotizarWrapper th input {
  font-family: "Nunito", "sans-serif";
  color: rgb(110, 110, 110);
  text-align: center;
  font-weight: 600;
}


.cotizarWrapper th form input, .cotizarWrapper th input{
  width: 13ch;
}